name: Publish Catalog Lambda (.NET)
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]    
env:
  PROJECT_PATH: ./src/backend/dotnet/catalog/
jobs:
  build:
    name: .NET Build & Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      working-directory: ${{ env.PROJECT_PATH }}
      run: dotnet restore
    - name: Build
      working-directory: ${{ env.PROJECT_PATH }}
      run: dotnet build --no-restore
    - name: Test
      working-directory: ${{ env.PROJECT_PATH }}
      run: dotnet test --no-build --verbosity normal
  publish:
    name: .NET Publish & ZIP
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
    - uses: actions/checkout@v3
    - name: Publish Artifacts 
      run: dotnet publish ${{ env.PROJECT_PATH }} -c Release -o publish
    - name: Creating Required Directory
      run: |
        mkdir -p artifacts
        cd publish
        ls
    - name: Setup Zip
      uses: montudor/action-zip@v1
    - name: Zip Artifacts
      run: zip -qq -r artifacts/catalog-latest.zip publish
    - name: Upload catalog-latest.zip for next job
      uses: actions/upload-artifact@v3
      with:
        name: catalog-latest.zip
        path: artifacts/catalog-latest.zip
  upload-aws-s3:
    name: Upload to AWS S3
    runs-on: ubuntu-latest
    needs:
      - publish
    steps:        
    - name: Download catalog-latest.zip
      uses: actions/download-artifact@v3
      with:
        name: catalog-latest.zip
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1
    - name: Upload to S3
      run: |
        aws s3 cp catalog-latest.zip s3://serverlesshero-releases/lambdas/catalog-latest.zip
    
